body {
    margin: auto;
    width: 700px;

    position: relative;
}

.form {
    top: 50px;
    position: relative;
    background: white;
    padding: 10px;
}

.button {
    padding: 10px;
    border: 1 solid black;
    width: 100px;
}